@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    font-size: 12pt;
    line-height: 14pt;
    display: flex;
    color: white;
    justify-content: space-between;
    @apply bg-green-700;
}

nav a {
    display: inline-block;
    padding: 1.2em 1em;
    color: white;
}

nav a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
}

h1 {
    font-size: 22pt;
    @apply py-6;
}

h2 {
    font-size: 20pt;
    @apply py-4;
}

h3 {
    font-size: 18pt;
    @apply py-4;
}

p {
    @apply text-lg;
}

form {
    padding: 1.5em 0;
}

form ul {
    list-style: none;
}

span.helptext {
    font-style: italic;
    font-size: smaller;
    color: #666;
}

label {
    font-weight: 600;
    margin-right: 0.5em;
    min-width: 6em;
    display: inline-block;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}
/* label::after {
    content: ":";
} */

input[type="text"], textarea {
    border-bottom: solid 2px #666;
    font-size: 12pt;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

input[type="text"]:focus {
    border: 0;
}

textarea {
    min-width: 34em;
    min-height: 3em;
    border: 2px solid #666;
}

section {
    margin-bottom: 1.5em;
}

.content {
    max-width: 42em;
    margin: 0 auto;
    padding: 0 0.5em;
}

.primary, button[type="submit"], input[type="submit"] {
    @apply rounded bg-green-700 text-white px-8 py-3;
}

.switch {
    @apply mr-2 mt-[0.3rem] h-3.5 w-8 appearance-none rounded-[0.4375rem] bg-neutral-300 before:pointer-events-none before:absolute before:h-3.5 before:w-3.5 before:rounded-full before:bg-transparent before:content-[''] after:absolute after:z-[2] after:-mt-[0.1875rem] after:h-5 after:w-5 after:rounded-full after:border-none after:bg-neutral-100 after:shadow-[0_0px_3px_0_rgb(0_0_0_/_7%),_0_2px_2px_0_rgb(0_0_0_/_4%)] after:transition-[background-color_0.2s,transform_0.2s] after:content-[''] checked:bg-primary checked:after:absolute checked:after:z-[2] checked:after:-mt-[3px] checked:after:ml-[1.0625rem] checked:after:h-5 checked:after:w-5 checked:after:rounded-full checked:after:border-none checked:after:bg-primary checked:after:shadow-[0_3px_1px_-2px_rgba(0,0,0,0.2),_0_2px_2px_0_rgba(0,0,0,0.14),_0_1px_5px_0_rgba(0,0,0,0.12)] checked:after:transition-[background-color_0.2s,transform_0.2s] checked:after:content-[''] hover:cursor-pointer focus:outline-none focus:ring-0 focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[3px_-1px_0px_13px_rgba(0,0,0,0.6)] focus:before:transition-[box-shadow_0.2s,transform_0.2s] focus:after:absolute focus:after:z-[1] focus:after:block focus:after:h-5 focus:after:w-5 focus:after:rounded-full focus:after:content-[''] checked:focus:border-primary checked:focus:bg-primary checked:focus:before:ml-[1.0625rem] checked:focus:before:scale-100 checked:focus:before:shadow-[3px_-1px_0px_13px_#3b71ca] checked:focus:before:transition-[box-shadow_0.2s,transform_0.2s] dark:bg-neutral-600 dark:after:bg-neutral-400 dark:checked:bg-primary dark:checked:after:bg-primary dark:focus:before:shadow-[3px_-1px_0px_13px_rgba(255,255,255,0.4)] dark:checked:focus:before:shadow-[3px_-1px_0px_13px_#3b71ca];
}