{% extends 'base.html' %}
{% load i18n %}

{% block "css" %}
<style>
label {
  min-width: 8em;
}
input[type="submit"] {
  margin-top: 1em;
}
.socialaccount_providers {
    padding-left: 1em;
    margin-top: 1em;
}
.socialaccount_providers li {
    list-style-type: none;
    margin-bottom: 1em;
}
.primaryAction {
    padding: 1em 2em;
    line-height: 16pt;
    font-size: 16pt;
}
.content a {
  text-decoration: underline;
}
.content a:hover {
  text-decoration: none;
}
</style>
{% endblock %}

{% block "main" %}
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
{% endblock %}