{% extends 'base.html' %}
{% load i18n %}

{% block "css" %}
<style>
.socialaccount_providers {
    padding-left: 1em;
}
.socialaccount_providers li {
    list-style-type: none;
    margin-bottom: 1em;
}
.primaryAction {
    padding: 1em 2em;
    line-height: 16pt;
    font-size: 16pt;
}
</style>
{% endblock %}

{% block "main" %}
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">{% trans "Change E-mail" %}</a></li>
        <li><a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
        {% endif %}
      </ul>
    </nav>
    {% block content %}
    {% endblock %}
{% endblock %}