{% extends "base.html" %}

{% block "content" %}
<h1>Hodnota roste s časem</h1>
<p>
    Budování hodnoty je pomalý proces protože hodnota roste časem a zkušeností. Shrnutí takové
    zkušenosti pak má cenu zlata. Ať už pak sepíšete článek, nahrajete audio nebo video, tak je
    potřeba je publikovat a zpřístupnit tak pro ostatní. Na sociálních sítí by rychle zapadl,
    protože ty jsou určené pro krátké a časté příspěvky. Federovaný blog je váš vlastní prostor,
    který má přesah na všechny mainstreamové sociální sítě a do fediversa a přesto zachovává 
    váš obsah opravdu váš.
</p>
{% endblock %}