{% extends "base.html" %}

{% block "main" %}
<div class="md:container">
<h1>Informace o projektu</h1>
<p>
    Projekt je určen ke generování statických stránek pro osobní nebo komerční účely.
    Budování hodnoty je pomalý proces protože hodnota roste časem a zkušeností. Shrnutí takové
    zkušenosti pak má cenu zlata. Ať už pak sepíšete článek, nahrajete audio nebo video, tak je
    potřeba je publikovat a zpřístupnit tak pro ostatní. Na sociálních sítí by rychle zapadl,
    protože ty jsou určené pro krátké a časté příspěvky. Federovaný blog je váš vlastní prostor,
    který má přesah na všechny mainstreamové sociální sítě a do fediversu a přesto zachovává 
    váš obsah opravdu váš.
</p>

<section>
<h2>Ochrana soukromí</h2>
<p>
    Neposkytujeme vaše data žádné třetí straně. Nesledujeme vás pomocí cookies, použáváme je
    pouze pro udržování uživatelské relace na našich stránkách.
</p>
</section>

<section>
<h2>Podmínky používání</h2>
<p>
    Služba je poskytována pro osobní i komerční prezentaci.
</p>
</section>
</div>
{% endblock %}