{% extends 'base.html' %}

{% block "content" %}
    <form role="form" method="POST" class="__post">{% csrf_token %}
        {% if not post %}<h1>Článek pro {{site.urn}}</h1>{% else %}
        <h1>Překlad článku {{post.title}}({{post.lang}})</h1>
        <input type="hidden" name="{{form.translation_of.name}}" value="{{post.id}}">
        {% endif %}
        <label for="{{form.title.id_for_label}}">Nadpis</label>{{form.title}}<br>
        <label for="{{form.lang.id_for_label}}">Jazyk</label>{{form.lang}}<br>
        <label for="{{form.category.id_for_label}}">Kategorie</label>{{form.category}}{% if site.admin == user %}<a href="{% url 'core:category-add' site=site.urn %}" class="secondary ml-5">přidat kategorii</a>{%endif%}<br>
        <label for="{{form.description.id_for_label}}">Shrnutí</label><br>
        {{form.description}}
        <br>
        <button type="submit" name="action" value="create">Vytvořit</button>
    </form>

    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{field.name}}: {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% endif %}
{{ form.media }}
{% endblock %}