{% extends "base.html" %}

{% block "css" %}
<style>
    ul li {
        list-style-type: decimal;
    }
    section {
        padding: 1em;
    }
</style>
{% endblock %}

{% block "main" %}
<form method="POST" autocomplete="off">
    {% if form.non_field_errors %}
    <ul class="bg-red-50 text-red-700 font-medium">
    {% for error in form.non_field_errors %}
        <li >{{error}}</div>
    {% endfor %}
    </ul>
    {% endif %}

    <section{% if form.own_domain.errors or form.subdomain.errors %} class="bg-red-50"{%endif%}>
        <h3>1. Vyberte adresu</h3>
        <label for="name">Stačí mi subdoména</label>
        <input type="text" name="subdomain" value="{{form.subdomain.value|default_if_none:''}}" class="border-b-2 border-gray-400 text-right w-40" data-placeholder="vyvojar,cyklista,po-thajsku">.{{domain}}
        {% for error in form.subdomain.errors %}
         <div class="bg-red-50 text-red-700 font-medium">{{ error|escape }}</div>
        {% endfor %}
        <br>
        <em class="text-sm"> -- nebo -- </em>
        <br>
        <label for="own_domain">Mám doménu</label><input type="text" name="own_domain" placeholder="mojedomena.cz" value="{{form.own_domain.value|default_if_none:''}}">
        {% for error in form.own_domain.errors %}
         <div class="bg-red-50 text-red-700 font-medium">{{ error|escape }}</div>
        {% endfor %}
    </section>

    <div class="border-b-2 my-8"></div>

    <section{% if form.pelican_theme.errors %} class="bg-red-50"{% endif %}>
    <h3>2. Vyberte vzhled</h3>
    <div class="grid lg:grid-cols-3 gap-2">
    {% for theme in pelican_themes %}
    <div>
        <input type="radio" name="pelican_theme" value="{{theme.name}}" id="pelican-{{theme.name}}">
        <label for="pelican-{{theme.name}}">{{theme.name}}</label>
        <img src="{{theme.image.url}}" class="w-fit">
    </div>
    {% endfor %}
    </div>
    </section>

    <div class="border-b-2 my-8"></div>

    <section>
    <h3>3. Základní informace</h3>
        <label for="title">Nadpis</label><input type="text" name="title" placeholder="Restaurace na Vejminku" value="{{form.title.value|default_if_none:''}}"><br>
        {% for error in form.title.errors %}
         <div class="bg-red-50 text-red-700 font-medium">{{ error|escape }}</div>
        {% endfor %}
        <label for="description">Popis</label><textarea name="subtitle" class="focus:border-0">{{form.subtitle.value|default_if_none:''}}</textarea>
            <br><em class="text-sm">Např: Klasická rodinná rostaurace s denní nabídkou, dobrým místním pivo a příjemnou obsluhou</em>
    </section>
    {% csrf_token %}
    <input type="submit" value="Vytvořit" class="primary">
</form>
{% endblock %}